<html ng-app="shokuninApp">
<head>

  <title>Shokunin</title>
  <link rel="icon" type="image/png" href="img/S.png" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/individual.css">

  <script src="js/vendor/jquery-1.11.1.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>

</head>
<body ng-controller="IndividualCtrl">

  <div class="container-fluid">
    <div id="global-block" class="row">
      <div id="head-block" class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <img id="cursor" src="img/cursor.png">
        <h3>Projects</h3>
        <img id="spread-pic" src="img/logo-spread.png" class="head-pic" ng-click="clickSpread()">
        <img id="spur-pic" src="img/spur.png" class="head-pic" ng-click="clickSpur()">
        <h3>Members</h3>
        <img id="frank-pic" src="img/profile-fb.png" class="head-pic" ng-click="clickFrank()">
        <img id="mohamed-pic" src="img/profile-mm.png" class="head-pic" ng-click="clickMohamed()">
        <img id="julie-pic" src="img/profile-jh.png" class="head-pic" ng-click="clickJulie()">
      </div>
      <div id="main-block" class="col-sm-7 col-md-7 col-lg-7">
        <div id="personnal-block" ng-show="showPersonnalBlock">
          <h2>{{current.name}}</h2>
          <p>
            <img ng-src="img/svg/{{current.genrePic}}" class="gender-pic">
            {{current.description}}
          </p>
          <h2>Roles</h2>
          <div ng-repeat="role in current.roles">
            <p>- {{role}}</p>
          </div>
          <h2>Hobbies</h2>
          <p>{{current.hobbies}}</p>
          <h2>Contact</h2>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div ng-repeat="social in current.contacts.col1">
                  <div><a target="_blank" href="{{social.url}}"><img class="social-pic" ng-src="{{social.pic}}"> {{social.name}}</a></div>
                </div>
              </div>
              <div class="col-md-4">
                <div ng-repeat="social in current.contacts.col2">
                  <div><a target="_blank" href="{{social.url}}"><img class="social-pic" ng-src="{{social.pic}}"> {{social.name}}</a></div>
                </div>
              </div>
              <div class="col-md-4">
                <div ng-repeat="social in current.contacts.col3">
                  <div><a target="_blank" href="{{social.url}}"><img class="social-pic" ng-src="{{social.pic}}"> {{social.name}}</a></div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="project-block" ng-show="showProjectBlock">
          <h2>{{project.name}}</h2>
          <p>{{project.description}}</p>
          <h2>Architecture</h2>
          <img ng-src="img/{{project.img}}">
          <h2>Repositories</h2>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div ng-repeat="social in project.contacts.col1">
                  <div><a href="{{social.url}}" target="_blank"><img class="social-pic" ng-src="{{social.pic}}"> {{social.name}}</a></div>
                </div>
              </div>
              <div class="col-md-6">
                <div ng-repeat="social in project.contacts.col2">
                  <div><a href="{{social.url}}" target="_blank"><img class="social-pic" ng-src="{{social.pic}}"> {{social.name}}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
